[user]
	name = Alice Rose
	email = hello@alicerose.io
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	praise = blame
	ap = add -p
	up = push -u origin HEAD
	pushf = push -u origin HEAD --force-with-lease
[push]
	default = matching
[core]
	excludesfile = /Users/alice/.gitignore_global
[fetch]
	prune = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P
