[user]
	name = Alice Rose
	email = hello@alicerose.io
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
        praise = blame
        ap = add -p
        up = push -u origin HEAD
        pushf = push -u origin HEAD --force-with-lease
[push]
	default = matching
[core]
	excludesfile = /Users/alice/.gitignore_global
[fetch]
	prune = true
